<button mat-raised-button (click)="addUser()" color="primary">Add New</button>
@if (Number(TOTAL_COUNT) === 0) {
  <h1>No records found ! {{ TOTAL_COUNT }}</h1>
} @else {
  <mat-card appearance="raised">
    <mat-card-header style="background-color: rgb(63, 81, 181); color: rgb(240, 240, 240); border-radius: 4px">
      <mat-card-title>
        <h1>Users List</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- person-table.component.html -->
      <mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.firstName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.lastName | uppercase }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.email }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="job">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Job</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.job }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Phone</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.phone | phone }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" class="edit" (click)="edit(element.id)"> Edit</button>
            <button mat-raised-button color="accent" class="delete" (click)="delete(element.id)">Delete</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" style="font-size: 20px"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20, 50]"
        [length]="TOTAL_COUNT"
        [pageSize]="pageSize"
        (page)="onPageChange($event)">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
}
