.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

mat-card {
  width: 380px;
  margin: 20px 20px;
}

mat-card-title, mat-card-subtitle {
  text-align: center;
  margin: 20px 0;
}

mat-form-field {
  width: 200px;
}

button {
  margin: 0 10px 20px 10px;
  height: 58px;
  width: 120px
}

h4 {
  text-align: center;
  color: red;
}
